.thank-you.text-center
  = image_tag "wreath_3.png", class: "wreath"

  %h1.thank-you-line-1 Thank you
  %h2.thank-you-line-2 for your RSVP!

  %h3 Your response has been recorded.

  %h3 If you want to update your response at any time, contact us via email at cmkoller01@gmail.com
