.accommodations-section
  .panel.medium-6
    %h3.title Oceanfront Camping at Reach Knolls
    %h6.price $25 per site
    %h6.distance 10 minutes away

    %p.notes Call early as it could be a very popular spot! You can see photos of individual sites on the website.

    .address
      670 Reach Rd
      %br
      Brooklin, ME 04616

    .website
      %span.tiny-title WEBSITE:
      = link_to "http://reachknolls.com/", "http://reachknolls.com/"

    .phone
      %span.tiny-title PHONE:
      = link_to "http://reachknolls.com/", "http://reachknolls.com/"
