.text-center
  %h1 Friday Gathering
  %h4 Join us on 7/15 at 6pm for a casual outdoor dinner, a bonfire, fire spinning, and good company!

  %h4
    %strong Location:
    14 Back Road, Brooklin ME 04616

  .medium-6.columns.small-centered
    = image_tag "3.png"

  %h1.peach-text Ceremony
  %h4 Saturday, July 16th at 3pm
  %h4 Outdoor ceremony on the lawn - casual to semi-formal attire welcome!

  %h4
    %strong Location:
    Pooduck Farm Road, Brooklin ME 04616

  .medium-6.columns.small-centered
    = image_tag "3.png"

  %h1 Reception
  %h4 Lawn games and refreshments by the water from 4-6pm, followed by dinner and dancing!
  %h4 For those interested, there will be fire spinning.
