<div class="text-center" id="date-wrapper">
  <%= image_tag "wreath_3.png" %>
  <div class="text-wrapper">
    <h2 id="date">
      July 16, 2016!
    </h2>

    <h3 id="location">
      Brooklin, Maine
    </h3>
  </div>
</div>
