#date-wrapper.text-center
  = image_tag "wreath_3.png"
  .text-wrapper
    %h2#date
      July 16, 2016!
    %h3#location
      Brooklin, Maine
#accommodations.page-section.text-center
  %h1 Accomodations
#details.page-section.text-center
  %h1 Details
  %h4 Coming Soon!
#wedding-party.page-section.text-center
  %h1 Wedding Party
  %h4 Coming Soon!
#registry.page-section.text-center
  %h1 Registry
  %h4 Coming Soon!
