<div class="text-center" id="date-wrapper">
  <%= image_tag "wreath_3.png" %>
  <div class="text-wrapper">
    <h2 id="date">
      July 16, 2016!
    </h2>

    <h3 id="location">
      Brooklin, Maine
    </h3>
  </div>
</div>

<div id="accommodations" class="page-section text-center">
  <h1>Accomodations</h1>
</div>

<div id="details" class="page-section text-center">
  <h1>Details</h1>

  <h4>Coming Soon!</h4>
</div>

<div id="wedding-party" class="page-section text-center">
  <h1>Wedding Party</h1>

  <h4>Coming Soon!</h4>
</div>

<div id="registry" class="page-section text-center">
  <h1>Registry</h1>

  <h4>Coming Soon!</h4>
</div>
