@font-face {
  font-family: 'provence';
  src: font-url('Provence.otf');
}

@font-face {
  font-family: 'frente';
  src: font-url('Frente.otf');
}

@font-face {
  font-family: 'lilly';
  src: font-url('Lilly.ttf');
}


@font-face {
  font-family: 'pompiere';
  src: font-url('Pompiere.otf');
}
