nav {
  padding: 10px;
  margin-top: 30px;
}

.title {
  .title-stuff-wrapper {
    overflow: hidden;
  }

  h1 {
    font-family: 'provence';
    font-size: 60px;
    padding-top: 41px;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0 55px;
    display: inline-block;;

    &:before,
    &:after {
      content: '';
      background-image: url(/assets/flame-08bb72ee5f7c42645e8947c428df491b3d02f0800ccaa447464f12c607712354.png);
      width: 50px;
      height: 58px;
      display: inline-block;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      bottom: 25px;
    }

    &:before {
      transform: scaleX(-1);
      left: -3px;
    }

    &:after {
      right: -3px;
    }
  }

  img.line {
    max-width: 569px;
    position: relative;
    top: -55px;
    display: block;
    margin: auto;
  }
}

nav ul {
  list-style: none;
  margin-left: 0;
  margin-top: -90px;
  position: relative;
  z-index: 1;
  margin-bottom: 0;

  li {
    display: inline-block;
  }

  li a {
    /* color: #F57B7B; */
    color: $peach;
    padding: 0 26px;
    font-family: pompiere;
    font-size: 27px;

    &:hover {
      color: darken($peach, 10%);
    }
  }
}

.flame {
  width: 50px;
  position: absolute;
  bottom: 24px;

  &#first {
    left: 22px;
    transform: scaleX(-1);
  }

  &#second {
    right: 22px;
  }
}
