<nav class="text-center">
  <div class="title">
    <div class="title-stuff-wrapper">
      <h1>
        <a href="/">Justin & Christina</a>
      </h1>
      <%= image_tag("2.png", class: "line") %>
    </div>
  </div>
  <ul class="text-center">
    <li><a href="#">Accomadations</a></li>
    <li><a href="#">Details</a></li>
    <li><a href="#">Wedding Party</a></li>
    <li><a href="#">Registry</a></li>
  </ul>
</section>
</nav>
