%nav.text-center
  .title
    .title-stuff-wrapper
      %h1
        %a{:href => "/"} Justin  Christina
      = image_tag(2.png, class: line)
  %ul.text-center
    %li
      %a{:href => "#"} Accomadations
    %li
      %a{:href => "#"} Details
    %li
      %a{:href => "#"} Wedding Party
    %li
      %a{:href => "#"} Registry
